.img-text-elem .text-anim{
    height: fit-content;
    width: fit-content;
    /* background: red; */
    overflow-y: hidden;  
}
.img-text-elem .text-anim h2{
    transition: all ease .5s;
    transform: translateY(100%);
  
}
.img-text-elem .text-anim h3{
    font-size: 2.4vw;
    margin-top: 0;
    margin-left: 1vw;
    transition:  all ease .5s;
    transform: translateY(100%);
   
}

.img-text-elem .text-anim:hover h2{
    transform: translateY(0%);
}
.img-text-elem .text-anim:hover h3{
    transform: translateY( 0%);
}



.box .text-anim{
    height: 2vw;
    width: fit-content;
    /* background: red; */
    overflow-y: hidden;  
}
.box .text-anim h5{
    transition: all ease .5s;
    transform: translateY(0%);
    font-size: 1.7vw;
    font-weight: 500;
    margin-bottom: 0;
  
}
.box .text-anim h4{
    transition:  all ease .5s;
    transform: translateY(0%);
    font-weight: 500;  
    font-size: 1.7vw;
    margin-bottom: 0;
   
}

.box .text-anim:hover h5{
    transform: translateY(-100%);
}
.box .text-anim:hover h4{
    transform: translateY(-100%);
}

footer h6{
        font-size: .9vw;
        margin-top: 1vw;
        
}










