*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';  
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #010101;
    position: fixed;
    z-index: 999;
    padding: 20vh 9vw;
}

#cursor{
    height: 2.2vw;
    width: 2.2vw;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transform: translate(-50%, -50%);
}
.line{
    /* background: red; */
    height: fit-content;
    margin-bottom: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.line1-part1 h5, .line1-part1 h6{
    font-size: 4vw;
    font-family: "Silk Serif";
    font-weight: 200;
}

.line1-part1 h5{
    /* background: red; */
    width: 4vw;
    text-align: right;
}
.line h1{
    font-size: 7vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Plain Light";
}
.line h2{
    font-size: 5.1vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Plain Light";
    opacity: 0;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}


@keyframes anime {

     0%{
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
        font-weight: 500;
        color: #fff;
     }

     48%{
        font-family: "Plain light";
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        font-weight: 500;
        color: #fff;
        
     }

     50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px solid #fff;
        opacity: 1;
        font-weight: 500;
        color: transparent;
     }

     100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px solid #fff;
        opacity: 0;
        font-weight: 500;
        color: transparent;
        
     }
}

#main{
    position: relative;
    background-color: #000000;
}
#page1{
    height: 100vh;
    width: 100%;
    background: #151515;
    padding: 3vw 4.6vw;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

#hero{
    /* background: red; */
    width: 77%;
    margin-left: 25%;
    
}

#hero h1{
    font-size: 7.6vw;
    line-height: 7.6vw;
    text-transform: uppercase;
    font-weight: 500;
}

#hero:nth-child(2){
    margin-top: 9.7vw;
}